.holder {
  padding-bottom: 265px;
  margin-bottom: 35px;
  background: url("../images/cup.png") no-repeat bottom right;
  &.sleep {
    background: url("../images/frangipani.png") no-repeat bottom right;
  }
  .slider-arrows {
    top: 225px;
    opacity: 0.5;
  }
}

.holder-slider {
  &__head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }
  &__descr {
    margin-top: -230px;
    padding-top: 160px;
    padding-left: 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    .descr__head {
      position: relative;
      padding-right: 78px;
      &.descr__head-sleep {
        padding-right: 215px;
      }

      img {
        position: absolute;
        right: 0;
        top: 0;
      }

      .holder__star-list {
        position: absolute;
        right: 0;
        top: 0;

        img {
          position: static;
        }
      }
    }
  }
  &__subtitle {
    text-align: right;
    padding-right: 80px;
    padding-top: 132px;
  }
  &__btn {
    text-align: center;
  }
}

.holder-slider__info {
  display: flex;
  justify-content: space-around;
  &-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding-left: 40px;
    position: relative;
    .holder-pricing__span {
      font-size: 14px;
      font-weight: 400;
      line-height: 0;
      letter-spacing: 5.25px;
      opacity: 0.75;
      position: absolute;
      bottom: -8px;
      right: 0;
    }
  }
  &-subtitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    transform: rotate(-90deg);
    position: absolute;
    top: 97px;
    left: -97px;
    width: 200px;
    height: 0;
    white-space: nowrap;
    text-align: right;
  }
  &-item {
    min-height: 200px;
    margin-bottom: 66px;
    position: relative;
  }
}

// custom input
.quantity {
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  display: block;
  border: none;
  background: transparent;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45px;
}

.quantity-button.quantity-up {
  right: 0;
}

.quantity-button.quantity-down {
  right: 25px;
}
