.surf {
  background: url("../images/surf-bg.png") no-repeat right 200px / auto;
  &__subtitle {
    margin-top: -86px;
    padding-right: 80px;
    text-align: right;
  }

  &-slider {
    padding-top: 110px;
    .slider-arrows {
      top: 50px;
      opacity: 0.25;
    }
    .slick-current {
      .surf-box__inner-btn {
        display: block;
      }
      .surf-box__inner {
        background: rgba(#1c2121, 0.3);
      }
    }
  }
}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:nth-of-type(4n + 1) {
    margin-top: 32px;
  }
  &:nth-of-type(4n + 3) {
    margin-top: 89px;
  }

  &__inner {
    min-height: 750px;
    background: rgba(#1c2121, 0.85);
    position: relative;
    transition: all 0.5s;
    &:hover {
      background: rgba(#1c2121, 0.3);
      .surf-box__inner-btn {
        display: block;
      }
    }
  }
}

.surf-box__inner-title {
  width: 140px;
  padding: 72px 0 0 40px;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
}

.surf-box__inner-location {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}

.surf-box__inner-btn {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.slider-map {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 653px;
  background: url(../images/word-map-dots.png) no-repeat center/cover;
  .slick-list {
    min-height: 653px;
  }
  .slick-current {
    .slider-dots__content {
      display: block;
    }
  }
}

.slider-dots__circle {
  width: 23px;
  height: 23px;
  border-radius: 100%;
  cursor: pointer;
  background-color: $green;
  box-shadow: 0px 0px 35px rgba($green, 0.839);
  position: relative;
}

.slider-dots__content {
  display: none;
  padding: 28px 31px 0px 32px;
  width: 285px;
  background-color: rgba(#0f1010, 0.7);
  border-radius: 6px;
  position: absolute;
  bottom: 35px;
  transform: translateX(-50%);
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid $green;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: -21px;
    left: 50%;
  }
}

.slider-dots__content-row {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.slider-dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: $green;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

.slider-dots__content-subtitle {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.slider-dots__content-link {
  padding-top: 4px;
}

.slider-dots__content-item {
  text-align: center;
  img {
    margin-bottom: 7px;
  }
}
.slider-dots__content-number {
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}
.slider-dots__content-name {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

.slider-dots {
  position: relative;
}

.slider-dots--1 {
  top: 335px;
  left: 0;
  .slider-dots__content {
    transform: translateX(0);
    &::before {
      left: 0;
    }
  }
}
.slider-dots--2 {
  top: 270px;
  left: 0;
  .slider-dots__circle {
    &::before {
      content: "";
      position: absolute;
      top: -25px;
      right: -15px;
      width: 14px;
      height: 17px;
      background: url(../images/icons/mini-marker.png) no-repeat;
    }
  }
}
.slider-dots--3 {
  top: 330px;
  left: 25;
}
.slider-dots--4 {
  top: 470px;
  left: -25px;
}
.slider-dots--5 {
  top: 230px;
  left: -65px;
}
.slider-dots--6 {
  top: 550px;
  left: -120px;
}
.slider-dots--7 {
  top: 375px;
  left: -95px;
}
.slider-dots--8 {
  top: 470px;
  left: 35px;
  .slider-dots__content {
    transform: translateX(-262px);
    &::before {
      left: auto;
      right: 0;
    }
  }
}
